body{
    margin: 0;
    min-height: 100vh;
    font-family: Roboto, sans-serif;
}


.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 16px 100px; */
} 

.logo-text{
    font-size: 24px;
    color: #F9FAF8;
    
}


.right-links{
    display: flex;
    gap: 1rem;
}

ul{
    list-style:none ;

}

a{
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.hero{
    display: flex;
    background-color: #1F2937;
    /* padding: 30px 100px 70px 100px; */
    justify-content: space-between;

    
}

.hero-right{
    flex:1;
}

.hero-left .main-text{
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;

}

.hero-left .hero-para{
    font-size: 18px;
    color: #E5E7EB;
    text-align: justify;
    text-justify: inter-word;
}

.hero-left .hero-button{
    background-color: #3882F6;
    border-radius: 10px;
    padding: 8px 32px;
    color: white;

}
.hero-right img{
    /* width: 350px; */
    /* height: auto; */
    border-radius: 15px;
    /* margin-left: 50px; */
}


